
    {{template "header.tmpl"}}
<main>
    <!-- slider section -->
    <section class="slider_section ">
      <div class="slider_bg_box">
        <img src="static/images/slider-bg.jpg" alt="">
      </div>
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 ">
                  <div class="detail-box">
                    <h1>
                     Play, Compete, Conquer<br>
                     The Ultimate Challenge
                    </h1>
                    <p>
                     sports knowledge meets competition in the most exciting way! Join us on a journey to test your cricket and football IQ, challenge friends, and climb the leaderboard. Whether you're a die-hard fan or just starting your sports trivia adventure, get ready to play, compete, and conquer. It's time to become a sports trivia titan!
                    </p><br><br>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Start quiz
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 ">
                  <div class="detail-box">
                    <h1>
                     Play, Compete, Conquer<br>
                     The Ultimate Challenge
                    </h1>
                    <p>
                     sports knowledge meets competition in the most exciting way! Join us on a journey to test your cricket and football IQ, challenge friends, and climb the leaderboard. Whether you're a die-hard fan or just starting your sports trivia adventure, get ready to play, compete, and conquer. It's time to become a sports trivia titan!
                    </p><br><br>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Get A Quote
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 ">
                  <div class="detail-box">
                    <h1>
                     Play, Compete, Conquer<br>
                     The Ultimate Challenge
                    </h1>
                    <p>
                     sports knowledge meets competition in the most exciting way! Join us on a journey to test your cricket and football IQ, challenge friends, and climb the leaderboard. Whether you're a die-hard fan or just starting your sports trivia adventure, get ready to play, compete, and conquer. It's time to become a sports trivia titan!
                    </p><br><br>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Get A Quote
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>
    </section>
</main>
    {{template "footer.tmpl"}}
    
